*.ali
*.exe
*.o
*.orig
*.pyc
/Makefile
docs/gtkada_rm/Makefile
docs/gtkada_rm/doc_obj/
docs/gtkada_ug/_build
docs/Makefile
src/Makefile
src/gnome/Makefile
src/gtkextra/Makefile
src/opengl/Makefile
src/tools/Makefile
src/generated/tmp.ada
testgtk/Makefile
po/Makefile
b~*.ad*
config.log
config.status
contrib/generated/*.ad?
contrib/generated/tmp.ada
projects/gtkada.gpr
projects/gtkada_gl.gpr
projects/gtkada.pc
projects/gtkada_install_dynamic.gpr
projects/gtkada_install_dynamic_gl.gpr
projects/gtkada_gnome.gpr
src/Makefile.common
src/config.h
src/gtkada-intl.adb
src/gtkextra/obj
src/lib-obj
src/gnome/obj/libgnomeada-*
src/opengl/obj/libgtkada_gl-*
src/tools/gate
src/tools/gtkada-config
src/tools/obj
testgtk.exe
testgtk/obj
testgtk/opengl/view_gl.adb
testgtk/testgtk
testgtk/testcairo
testgtk/try.png
docs/gtkada_rm/gtkada_rm/
docs/gtkada_ug/gtkada_ug.html
docs/gtkada_ug/gtkada_ug.info
docs/gtkada_ug/gtkada_ug.ps
docs/gtkada_ug/gtkada_ug.txt


